header  {
    height: 50px;
    font-size: 25px;
    margin-top: 9px;
    width: auto;
    background-color: ghostwhite;
    box-shadow: 2px black;
    font-family: sans-serif;
    border-radius: 3px;
}

header img  {
    float: left;
    margin-left: 560px;
}

header p    {
    margin-top: 9px;
    float: right;
    margin-right: 560px;
}

img {
    border-radius: 3px;
}

body    {
    background-color: black;
    font-family: sans-serif;
}

footer  {
    display: inline-block;
    height: 100px;
    margin-top: 10px;
    margin-left: 150px;
    width: 1050px;
    background-color: ghostwhite;
    border-radius: 3px;
}

footer img  {
    margin-top: 10px;
    margin-left: 10px;
}
